Dear {NAME}

Your freezer temperature has been logged as exceeding -13degC. 

Please see attached temperature logs for more information

Regards

NOTE: You will not receive these notifications for 12hours, to allow you time to rectify any issues.
